# Tutorial: Hello Bash and Python

In this tutorial we will familiarise ourselves with bash and python, and Notebooks (inadvertantly). Please load this notebook in `colab.research.google.com` if you do not have a local instance of JupyterHub/JupyterLab running.


Submission:

The submission for this tutorial requires a submission on Git, as well as one on SUNLearn. You will receive an email to your student account asking you to create an account on Gitlab

In [68]:
import pandas as pd

## Question 1: Bash

Retrieve data and interogate it with bash before using python tooling. This is useful as you may struggle with type or malformed files and a quick interogation may reveal those issues.

### Question 1.1

Run the bash command `wget` to retrieve a file located at `https://storage.googleapis.com/bdt-beam/users_v.csv` [1]

In [61]:
! wget https://storage.googleapis.com/bdt-beam/users_v.csv

--2022-08-10 21:41:17--  https://storage.googleapis.com/bdt-beam/users_v.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 108.177.11.128, 108.177.12.128, 74.125.26.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|108.177.11.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 143675 (140K) [text/csv]
Saving to: ‘users_v.csv.1’

users_v.csv.1       100%[===================>] 140.31K  --.-KB/s    in 0.002s

2022-08-10 21:41:17 (88.4 MB/s) - ‘users_v.csv.1’ saved [143675/143675]

### Question 1.2

Use a bash command to view the top ten elements of the file (to confirm that things are as you expect) [1]

In [62]:
! head -10 users_v.csv

user_id,name,gender,age,address,date_joined
1,Anthony Wolf,male,73,New Rachelburgh-VA-49583,2019/03/13
2,James Armstrong,male,56,North Jillianfort-UT-86454,2020/11/06
3,Cody Shaw,male,75,North Anne-SC-53799,2004/05/29
4,Sierra Hamilton,female,76,New Angelafurt-ME-46190,2005/08/26
5,Chase Davis,male,31,South Bethmouth-WI-18562,2018/04/30
6,Sierra Andrews,female,21,Ryanville-MI-69690,2007/05/25
7,Ann Stone,female,41,Smithmouth-SD-17340,2005/01/05
8,Karen Santos,female,34,Mariaville-AK-29888,2003/12/12
9,Ronald Meyer,male,41,North Cherylhaven-NJ-04197,2015/11/14

### Question 1.3

Use a bash command to determine the number of rows in the file [1]

In [63]:
! wc -l users_v.csv

2358 users_v.csv

### Question 1.4

Suppose the file is too large for initial exploration, let's take a quick sample so that we can continue working to see what is in the data set. Loading it into Pandas at this point will mean that we are using all that memory in any case, so let's sample it before we load it.

Take a random sample of the file (limited the result to 1000 lines) and create another file called `users_sample.csv`, using only bash commands [3]

Hint: redirect a stream into a the output file.

In [64]:
!shuf -n 1000 users_v.csv>>/content/users_sample.csv

### Question 1.5 

* Sort your file by ascending `user_id`s [1]
* Overwrite the current `users_sample.csv` with the ordered content [1]
* Print the last ten lines of this file [1]

In [65]:

!sort -t "," -k 1,1 users_sample.csv

1,Anthony Wolf,male,73,New Rachelburgh-VA-49583,2019/03/13
1000,Keith Pineda,male,76,East Kennethtown-AL-01358,2015/01/25
1002,William Green,male,71,Velezton-NY-86287,2001/04/09
1009,Christopher Brown,male,31,Sierramouth-SD-97506,2000/04/13
1010,Gregory Tucker,male,62,Bradfordmouth-OK-66307,2014/11/15
1013,Lucas Howe,male,39,Port Scottland-IA-31602,2020/04/01
1016,Michael Jennings,male,77,Mathewsside-NM-65851,2018/08/20
102,Tiffany Scott,female,55,Port Laurenfort-AR-39458,2004/08/03
1020,Carolyn Morrison,female,72,Port Joybury-ME-30001,2020/12/09
1022,Scott Alvarez,male,59,Jefferyborough-AK-73762,2002/01/12
1023,Shirley Kirby,female,52,Griffinberg-MA-17527,2012/10/27
1024,Amy Jones,female,26,Lake Christina-IA-16243,2011/05/30
1025,Clinton Parsons,male,42,North Alex-AZ-14672,2008/12/06
1026,Abigail Torres,female,56,Lake Morgan-DC-96963,2000/04/26
103,Robert Moss,male,61,Lake Carolynhaven-GA-90471,2018/07/07
1031,Brenda Pierce,female,51,West Michelleville-NV-86621,2017/11/21
1033,Mary Orozco,female,34,New Cynthiabury-CT-19358,2010/03/27
1034,David Maynard,male,24,New Jonathanberg-AZ-37954,2014/04/09
1037,Samantha Cummings,female,60,Lake Crystal-CT-36763,2016/04/01
1038,Jonathan Murphy,male,72,Port Jasonberg-NC-57014,2018/04/12
1039,William Cobb,male,55,Benjaminhaven-CA-54946,2004/12/05
1044,Dakota Smith,male,27,Christopherchester-AK-80265,2005/05/31
1045,Philip Edwards,male,50,Houstonhaven-AR-62011,2003/12/22
1046,Julie Winters,female,28,Lopezton-IA-50349,2007/12/20
1047,Keith Maynard,male,51,Lake Carol-TX-77811,2013/04/28
1050,Kathryn Stephenson,female,76,Reedberg-NH-56330,2019/01/04
1052,Evan Stevens,male,69,North Rodney-MN-72567,2006/04/14
1053,Gabrielle Bates,female,30,Kimberlyside-TX-04469,2013/11/14
1054,Grace Stewart,female,61,Williamstown-VA-71827,2014/01/27
1056,Emily King MD,female,63,Williamsside-KS-10856,2000/10/23
1058,Jamie Hernandez,female,30,Howardview-AR-07077,2000/10/10
1060,George Rowe,male,59,Bakerchester-ME-74271,2021/06/21
1062,Jill Oneal,female,61,Nataliestad-AR-29664,2021/07/26
1063,Rebecca Ruiz,female,74,Martinberg-CT-40168,2016/06/26
1065,Paul Garcia,male,73,North Monica-LA-03073,2004/04/07
1068,Cassandra Smith,female,34,Debraland-WI-47398,2000/06/27
1070,Meredith Johnson,female,57,Lake Traviston-MS-90900,2015/10/22
1075,Mia Wells,female,79,Nelsonfort-RI-36672,2011/12/06
1080,Brian Martin,male,51,Taylorstad-CO-18953,2011/01/18
1081,Victor Williams,male,37,Port Mark-ND-30135,2008/04/23
1082,Deborah Mccarthy,female,37,Normanview-MN-03177,2002/10/17
1084,Samantha James,female,67,New Carrieport-TN-73608,2006/07/23
1088,Jeffery Harris,male,29,Patrickburgh-VA-88538,2012/05/09
109,Elizabeth Bryant,female,24,West Eddieville-MO-92226,2004/08/14
1090,Cynthia Ford,female,55,Lake Charleston-NH-51155,2011/02/11
1092,Kristina Hawkins,female,43,Port Joseph-UT-28177,2002/09/22
1095,Nicole English,female,39,South Teresa-MO-92066,2007/08/08
1098,Paige Becker,female,66,Santiagomouth-NE-38485,2021/07/20
110,James Taylor,male,67,Watkinsmouth-GA-62362,2012/01/15
1105,Alexander Murray,male,20,West Kathleenfort-AZ-42159,2019/07/27
1109,Eric Maynard,male,77,New Donnamouth-VA-38156,2015/10/30
1110,Jennifer Juarez,female,39,Jenningsport-IA-89753,2001/11/15
1112,Joshua Alexander,male,70,Colleenberg-HI-85160,2014/08/25
1113,Catherine Carrillo,female,69,Lake Renee-TX-24040,2013/05/14
1114,David Bell,male,56,Smithbury-MD-94241,2014/07/20
1115,Frederick Short MD,male,23,Sharonmouth-NY-09292,2000/11/11
1117,Ashley Freeman,female,57,Timothyhaven-VA-89287,2015/10/27
1120,Cheyenne Lawson,female,51,East Kristinaland-FL-38640,2020/07/14
1122,Carolyn Lopez,female,39,West Steven-MI-13369,2005/01/22
1123,Dr. Charles Rivas Jr.,male,65,North Victor-TN-19072,2006/10/15
1130,Julie Henderson,female,19,Port Anthony-NC-51785,2002/07/08
1131,John Horton,male,78,Carolshire-LA-79729,2003/11/30
1134,James Wallace,male,53,Ericaton-MI-67529,2000/12/18
1136,Ellen Li,female,18,Port Ashleybury-MN-44663,2008/04/09
1137,Theresa Brown,female,45,West Kimberly-CT-26809,2010/11/29
1138,Nancy Henry,female,24,East Autumn-TN-88695,2008/06/16
1144,Crystal Tapia,female,29,North Lisaborough-CT-89350,2005/06/14
1148,Richard Nguyen,male,20,Stephenfurt-OK-41191,2017/02/06
1152,Pamela White,female,61,West Deniseport-GA-68544,2021/06/23
1153,Thomas Boyle,male,52,Port Tammyfort-ID-63044,2008/04/18
1154,James Walter,male,46,Lake Thomas-WI-87238,2010/09/24
1156,Olivia Dickson MD,female,78,East Beverlymouth-MA-88196,2004/04/24
1159,Dr. Andrea Hayes DDS,female,38,Turnerfort-TN-93114,2000/12/22
1162,James Jacobson,male,57,Kathrynmouth-IN-26731,2010/02/19
1167,Heidi Doyle,female,38,Smithburgh-ID-40975,2020/02/26
1168,David Castaneda,male,36,Sextonshire-TX-51651,2020/10/14
1169,Robert Dickerson,male,64,Nicholsmouth-TX-20976,2014/05/31
117,Sarah Ruiz,female,62,South Kimberly-NM-46995,2021/03/18
1172,Jessica Garcia,female,45,Charlesfurt-DC-20611,2018/09/01
1173,Rebecca Miranda,female,42,Port Leahborough-DC-62529,2011/10/11
1174,Margaret Durham,female,20,Davidville-CA-29589,2001/05/05
1182,Sherry Jones,female,50,Port Heather-MO-98856,2010/03/20
1185,Alyssa Garcia,female,22,New Amanda-AR-57485,2001/05/09
1186,Noah Stewart,male,67,Perezport-CO-19744,2013/11/30
1187,Madison Stewart,female,58,South Tammyhaven-IN-26294,2008/08/07
1189,Jordan Kim,female,74,Lake Keith-DE-86474,2018/05/17
1191,Sara Fowler,female,40,West Leslie-MS-83668,2006/09/03
1192,Sandra Francis,female,61,North Catherine-AL-85065,2007/04/11
12,Anna Glenn,female,73,Lake Pamela-NY-61706,2013/09/27
120,Tyler Morgan,male,71,Seanside-HI-54170,2010/06/23
1201,Scott Wyatt,male,29,Port Timothychester-NJ-38638,2004/10/16
1202,Wendy Dean,female,27,Halechester-LA-37428,2013/11/15
1204,Brett Cooley,male,19,Dianaside-HI-38125,2007/11/01
1207,Rita Harris,female,56,West Patricia-WY-91601,2003/05/17
1209,Kathy Carlson,female,44,Maryside-AL-19727,2009/03/22
1210,Elizabeth Day,female,65,Burkebury-WI-14576,2003/02/16
1211,Amanda Hall,female,45,Port Tracy-MS-73629,2013/10/21
1212,Jennifer Abbott,female,37,Williamsonshire-NJ-61030,2013/09/07
1215,Daniel Morris,male,30,Mariaton-GA-31289,2018/10/28
122,Nicholas Marks,male,20,Terryville-SD-23640,2000/05/05
1220,Debra Allen,female,53,Jacobmouth-IN-55498,2016/08/08
1221,William Bartlett,male,65,Lake Sherry-SC-02988,2012/10/25
1227,Peter Gonzalez,male,56,New Anthony-IN-38225,2001/11/16
1229,Mark Mcguire,male,68,West Christian-TX-79147,2020/09/10
1230,Keith Klein,male,20,Lake Jacqueline-CT-30728,2004/10/05
1233,Catherine Wheeler,female,27,Port Ronald-CA-35286,2008/05/25
1234,Dylan Neal,male,59,West Jeffrey-ID-79230,2003/07/15
1236,Jessica Harrington,female,61,Webbchester-AL-71591,2001/10/24
1238,Jamie Hamilton,male,52,Matthewchester-WI-17123,2017/12/16
124,Katherine Gonzalez,female,23,Joshuachester-WI-03800,2017/07/03
1240,Eric Hooper,male,40,Port Gabrielchester-ME-98979,2014/01/20
1241,Robert Cherry,male,70,Paulfort-MT-80768,2012/01/09
1242,Jon Howell,male,67,New Alan-OR-52462,2004/04/06
1243,Richard Smith,male,59,North Stephen-KY-28643,2017/03/12
1244,Robert Proctor,male,40,Port Matthewbury-DE-56329,2002/04/03
1245,Lisa Becker,female,20,New Michelleborough-CO-56062,2002/03/06
1253,Michelle Hall,female,43,Vanessaland-MI-02476,2000/09/20
1254,Dustin Murphy,male,24,East Daniellehaven-VT-90377,2014/01/08
1260,Jennifer Henry,female,18,New Isaacborough-KS-58255,2004/04/06
1262,Michael Kim,male,39,North Angela-ND-52483,2009/08/13
1263,Kelly Davis MD,female,38,Nicolestad-OR-25245,2001/01/26
1265,Melissa Cordova,female,43,Stewartshire-IA-12779,2015/11/08
1266,Jessica Hunt,female,51,North Heiditon-FL-06651,2002/07/12
1268,Isaac George,male,19,East Tara-OK-29474,2014/12/12
1271,Patricia Ward,female,35,Frymouth-KS-73555,2000/06/20
1272,Connor Palmer,male,26,Nicolefurt-WI-72889,2000/11/03
1274,Joshua Torres,male,59,Michaelville-IL-76661,2002/11/05
1275,Gabriella Garcia,female,65,Karenshire-CT-49877,2006/12/12
1277,Kristy Jones,female,56,Marvinchester-NJ-05361,2021/07/27
1278,Larry Berg,male,79,Wareberg-MI-89810,2004/06/20
1280,John Valenzuela,male,80,Youngport-MI-46698,2001/07/11
1281,Joshua Fitzgerald,male,35,Berrymouth-UT-62228,2017/07/09
1284,Nicole Williams,female,41,West Elizabethhaven-NY-48102,2016/10/04
1285,Vanessa Lambert,female,59,West Kristen-UT-63299,2015/03/20
1286,Heather Blackburn,female,73,East Amyburgh-KS-14647,2004/01/31
1287,Michelle Reyes,female,48,Lake Jerrybury-ND-84051,2014/06/30
1288,Michael Smith,male,52,Marshallstad-WI-30006,2013/02/27
1289,Tiffany Stone,female,71,Megantown-WY-91132,2002/08/23
1291,Steven Murphy,male,52,Mercertown-MI-98856,2009/11/13
1294,Ann Fitzgerald,female,19,New Jack-VT-17133,2018/05/01
1298,John Garcia,male,24,Cameronville-NM-84397,2017/03/26
1299,Scott Klein,male,77,Lisaberg-AR-01640,2020/09/19
13,Kenneth Martinez,male,21,West Kimberly-AZ-87210,2002/03/13
130,Joshua Gonzalez,male,71,Goodmanbury-WY-60820,2000/04/09
1301,Rachel Gonzalez,female,41,Port Patriciashire-ME-62439,2014/04/10
1302,Cynthia Chen,female,34,Christineland-AZ-71151,2001/06/28
1303,Caitlyn Fletcher,female,33,Davidville-PA-28286,2019/07/15
1304,Eric Austin,male,74,New James-UT-83306,2003/12/06
1306,Rachael Burns,female,32,West Richardbury-IN-21517,2002/07/21
1308,Jason Davis,male,75,North Nathanielville-CO-60867,2005/04/08
131,Kelly Owen,female,79,West Samantha-AK-72395,2017/07/14
1312,Jo Mccoy,female,21,Mcdowellfort-AR-79609,2003/06/06
1314,Margaret Love,female,29,West Travis-CT-98987,2012/02/21
1317,Jacob Nelson,male,70,Torreschester-OK-72371,2001/11/03
1318,Nicole Mccall,female,61,West Noahfort-NV-52107,2001/11/09
1319,Timothy Miller,male,77,Victorialand-AL-15310,2019/03/03
132,Tonya Anderson,female,52,Lake Johnberg-IN-11566,2012/02/10
1320,Emily Dillon,female,75,New Christopherborough-WY-73103,2009/10/19
1322,Robert Vargas,male,61,Malloryhaven-SC-28981,2002/02/26
1327,Brandon Castro,male,80,Theodorebury-MT-83862,2000/12/07
1328,Lindsay Salazar,female,36,East Lisa-LA-97937,2010/10/29
1329,Timothy Robinson,male,50,South Evelyn-MS-45461,2019/01/02
1332,Gregory Smith,male,53,Wilsonfurt-CA-47622,2019/01/25
1334,Brandon West,male,46,Christophermouth-AL-88671,2016/05/14
1336,David Allen,male,68,East Jeffreyview-AL-06703,2003/03/17
1339,Donald Vazquez,male,58,Lake Johnstad-IL-51660,2007/10/05
1347,Kathleen Hamilton,female,66,Carmenburgh-DC-52062,2001/12/31
1349,Stephen Rogers,male,30,Blakeberg-NJ-83142,2001/07/30
1352,Rachel Gonzalez,female,67,South Katelynmouth-SC-55422,2019/11/17
1353,Tammy Schultz,female,63,New Mary-WA-06949,2020/11/25
1354,Lisa Flynn,female,47,New Mark-OK-12970,2000/01/28
1359,Frederick Fitzgerald,male,45,Olsonbury-NE-66287,2002/10/22
1361,Julia Friedman,female,56,West John-TX-78579,2001/11/16
1362,Kyle Salazar,male,21,South Elizabeth-NC-44901,2004/05/20
1367,Teresa Holmes,female,35,West Candice-MO-69931,2000/05/16
1371,Erin Williams DVM,female,70,Port Connormouth-MT-82018,2020/05/16
1372,Michelle Warren,female,35,Ramseyland-VT-01915,2014/03/06
1376,Samantha Gonzalez,female,40,East Andreabury-GA-53776,2000/04/04
1381,Patricia Hayes,female,79,Eddieland-IA-67609,2010/12/02
1383,Miss Morgan Brown,female,58,Warrenton-TN-69629,2014/06/26
1384,Adrian Eaton,male,61,East Brett-WV-36556,2020/09/12
1385,Dr. Michael Jacobson,male,58,Evansview-NH-28258,2012/07/27
1387,Nicholas Ellis,male,73,Markville-ID-39193,2013/12/15
139,Julian Smith,male,73,North Monica-CA-32308,2013/07/28
1391,Jennifer Watson,female,36,New Christopher-TX-43060,2015/11/16
1392,Timothy Scott,male,71,Gregorychester-IA-60570,2011/08/13
1399,Michelle Jones,female,57,South Susanland-NJ-42559,2010/04/01
1401,James Powell,male,75,Nancybury-CA-13751,2001/02/20
1402,Kayla Roberts,female,18,Douglasmouth-MA-55648,2015/03/29
1403,Dave Hebert,male,46,West Jenna-HI-52242,2018/12/15
1407,Diane Johnson,female,77,Duffyberg-KS-52320,2016/10/12
1409,Ricky Tran,male,58,Michaelchester-MD-83506,2019/03/03
141,James Day,male,73,Lauraburgh-SC-60909,2020/10/18
1411,Jessica Jackson,female,27,Phillipsside-NE-05891,2004/10/05
1418,Wayne Johnson,male,63,Ashleyfort-GA-85608,2016/08/07
1419,Douglas Warren,male,32,West Davidfort-KY-87939,2010/11/07
142,Erika Hudson,female,39,Danielville-TN-53293,2004/06/08
1420,Phyllis Salinas,female,42,Clarkton-VT-39942,2000/09/22
1422,Holly Smith,female,54,East Shelley-ID-60098,2002/12/30
1425,Heidi Rodriguez,female,50,Port James-WI-46831,2013/03/31
1426,Deborah Hahn,female,75,South Elizabethbury-DE-96269,2009/03/11
1429,Alexandra Simon,female,57,Port Justinmouth-SC-71023,2012/01/06
143,Ryan Holland,male,31,Josephside-NC-81119,2013/11/20
1432,Nicholas Horton,male,37,Jenniferfort-KS-25302,2019/10/05
1433,Leah Lynn,female,39,Andrewview-NY-30261,2004/01/06
1435,Clinton Little,male,27,East Christopherport-NM-62673,2008/01/21
1436,Raymond Pugh,male,58,Greenland-NE-81798,2017/03/19
1438,Pamela Williams,female,67,Michellestad-CO-38363,2008/04/15
1440,Corey Campbell,male,67,Cruzstad-KY-98814,2021/05/28
1449,Joyce Robinson,female,37,North Peter-NH-40020,2017/11/17
145,Abigail Spencer,female,75,Crawfordview-WA-72704,2005/03/05
1452,Kelly Morales,female,73,West Andre-SD-55348,2020/07/14
1455,Ellen Roman,female,55,Port Benjamin-OK-01179,2003/09/17
1456,Jennifer Myers,female,30,East Robertberg-VT-42433,2016/02/06
1459,Sarah Goodman,female,41,East Jenniferville-MI-98218,2012/06/24
146,James Ryan,male,38,Hodgesmouth-WV-41537,2016/06/18
1461,Benjamin Ramirez,male,61,Karenborough-DC-78455,2009/10/30
1462,Donald Jones,male,26,West Alexton-MO-75560,2005/07/04
1464,Elizabeth Johnson,female,58,New Lauraberg-WI-28834,2010/08/06
1465,Denise Gonzalez,female,25,Lake Eric-AZ-31129,2003/05/18
1466,Michael Brock,male,44,Holmesport-AK-78551,2010/08/18
1467,Amy Smith,female,26,East Carlamouth-SC-43032,2009/12/13
1468,Lindsey Faulkner,female,71,Zacharyfort-GA-96796,2003/04/29
1471,Tammy Bender,female,32,Johnsonfurt-MO-88306,2008/10/13
1472,Robert Carson,male,35,North Barbaraborough-KS-04526,2010/08/01
1475,Michelle Sharp,female,80,Isabellashire-NE-58422,2013/08/23
1478,Nicole Guerrero,female,33,Onealberg-NJ-18598,2004/02/04
1481,Joseph Stewart,male,46,Dudleyside-MI-81831,2015/08/23
1482,Kenneth Arnold,male,26,Lake Charlesside-NH-32404,2005/02/21
1487,Frank Banks,male,31,Lake Stephaniefort-ME-98870,2003/05/09
1489,Travis Beck,male,41,South Mitchellville-NC-76562,2004/04/12
149,Kayla Massey,female,39,West Elizabeth-MT-09896,2002/04/21
1493,Victoria Mcintyre,female,39,North Michelleview-VA-13908,2007/11/06
1498,Matthew Foster,male,73,Lake Andre-AK-65233,2004/05/07
1499,Scott Hernandez,male,28,Lake Anthonyborough-NC-42263,2010/03/15
150,Bonnie Obrien,female,68,Fernandezstad-AL-23481,2001/10/11
1506,Jean Wilson,female,31,Matthewshire-GA-94194,2019/03/29
1508,Ms. Courtney Levy,female,52,Montgomeryside-ID-60772,2013/10/16
1510,Heather Thomas,female,36,Rebekahbury-CO-30279,2000/11/16
1512,Jennifer Miller,female,21,Meyerschester-CT-49570,2007/03/12
1513,Sandra Phillips,female,39,Williamburgh-VT-01892,2002/08/28
1516,Kelsey Morales,female,28,Lake Jeremy-MO-81865,2007/05/20
1521,Christopher Salinas,male,34,Dianeside-NH-37706,2006/06/02
1522,John Thomas,male,62,New Chase-ND-92023,2004/10/14
1523,Ruben Hernandez,male,54,South Davidberg-CT-86111,2014/12/12
1525,Rodney Park,male,53,Jacksonfurt-OH-98421,2010/07/09
1526,Matthew Nguyen,male,18,Kaylamouth-LA-41514,2000/04/07
1531,Laurie Holmes,female,49,East Charles-VT-14300,2002/08/02
1532,Crystal David,female,41,West Stephanieberg-AR-18497,2013/01/24
1537,Nathan Bauer,male,71,Bondside-NM-48007,2003/11/30
1538,Jason Phillips,male,25,South Michaelside-VT-86297,2017/12/14
1540,Alexander Cooper,male,42,Bennettport-MN-38411,2002/06/20
1542,John Rice,male,76,Leslietown-IN-92957,2000/11/19
1544,John Bray,male,46,Patrickmouth-SD-43145,2004/12/31
1545,Craig Lynn,male,68,Lake Malloryville-NJ-04387,2003/06/18
1546,Jeffrey Burns,male,74,Pamelastad-DC-18184,2006/07/25
1547,Jocelyn Perry,female,32,Lake Williammouth-IN-17460,2003/09/10
155,Lauren Forbes,female,44,South Juan-VT-27018,2001/02/21
1551,Carrie Wilson,female,41,Rileytown-DE-81442,2013/02/10
1552,Bruce Mitchell,male,38,Lake Matthewhaven-TN-29224,2014/09/21
1553,Nicole Douglas,female,69,New Brian-NC-22085,2017/02/04
1554,Thomas Martinez,male,68,West Jason-CA-07415,2003/04/28
1555,James Avila,male,47,Laurenhaven-NH-38918,2001/06/15
1557,Maria Morris,female,50,New Tammiechester-MA-31070,2016/11/26
1561,Adam Hensley,male,78,Port Markshire-MA-38908,2009/09/04
1565,Vincent Garcia,male,37,Donaldmouth-CA-04652,2013/03/08
1566,Mary Holloway,female,29,Maryview-WA-68780,2005/11/10
157,Ashley Francis,female,78,Johnfort-SC-78659,2005/07/25
1571,April James,female,35,Taraberg-MS-59842,2017/09/05
1572,James Young,male,21,Gomezport-MN-67740,2004/11/28
1574,Monica Russell,female,66,Port Bryce-AZ-16076,2005/02/27
1576,Todd Hensley,male,71,New Anthonyton-AL-22183,2001/07/19
1578,Ann Sharp,female,31,Port Lisa-MN-52333,2004/12/12
1580,Miranda Moore,female,67,West Julie-VA-20133,2015/08/09
1582,Michelle Rodriguez,female,67,Johnsonville-IL-45714,2018/10/17
1583,Amber Wilson,female,72,Chambersmouth-NY-31987,2018/08/15
1585,Alex Duarte MD,male,43,West Madison-ME-68374,2007/02/17
1588,Maria Schaefer,female,72,Tinamouth-NC-22993,2004/12/09
1589,Gregory Jensen,male,60,Cartermouth-WI-97199,2003/12/30
1593,Susan Kramer,female,25,South Michael-TX-65274,2017/02/27
1595,Gregory Ross,male,45,Port Teresaburgh-FL-51908,2000/02/06
1597,Stephanie Blair,female,38,Cervantesview-NC-60480,2002/12/31
1600,Kathy King,female,74,East Chad-NJ-78086,2008/11/14
1601,Joanne Wolfe,female,48,Port Ronald-AK-85919,2005/06/30
1602,Scott Kidd,male,24,Lake Williamberg-NV-04736,2014/02/24
1603,Daniel Williams,male,35,Lake Elijah-NV-06449,2016/05/25
1606,Lindsay Marquez,female,65,Moralesmouth-UT-46403,2003/09/24
1607,Chloe Chavez,female,62,Lake Patricia-AZ-46290,2005/10/14
1609,Ronald Ferguson,male,66,Port Seanville-AZ-02535,2011/06/20
1614,Kevin Pruitt,male,31,Brianstad-NY-86193,2007/12/12
1617,Amanda Beard,female,31,Cassandraville-AL-67415,2008/11/21
1619,Karen Smith,female,27,Johnhaven-MN-15847,2017/06/22
162,Elizabeth Anderson,female,54,Davidville-MD-12024,2020/10/10
1620,Ashley Porter,female,53,South Bobbyhaven-WI-73358,2020/03/19
1622,James Lang,male,67,East Christopher-NH-87297,2011/06/24
1624,Christopher Hicks,male,79,Alexisport-DE-53462,2021/07/07
1626,Heidi Ellis,female,63,Gonzalezville-MD-52295,2011/09/11
1627,Deborah Walls,female,45,Longchester-GA-93157,2011/04/04
1628,Joe Scott,male,53,Maureenland-KY-52121,2017/01/27
163,Elizabeth Kramer,female,80,Brookschester-KS-65550,2019/07/01
1633,Lauren Howell,female,63,Port Kerriborough-TN-38070,2012/04/12
1634,Robert Green,male,60,South Matthew-RI-58831,2007/04/05
1637,Joshua Marshall,male,52,North Kevinfort-DC-92319,2000/02/01
1638,Jason Holmes,male,52,East Jennifermouth-LA-50574,2005/08/16
1641,Brenda Wilkerson,female,78,Mirandatown-RI-25211,2019/05/25
1642,April Barnes,female,71,Gonzalesshire-CT-43165,2013/02/14
1643,Mark Austin,male,68,New Scottland-MS-97650,2008/08/30
1644,Jeff Barajas,male,79,Copelandmouth-DC-86980,2013/12/23
1645,Donna Nguyen,female,44,Stephaniechester-MA-04737,2007/12/04
1646,Ashley Long,female,36,Davisburgh-RI-86982,2000/04/24
1651,Dr. Kimberly Glover,female,60,Mendozaside-WY-05526,2009/05/17
1652,Marcus Bruce,male,22,Carrollshire-SC-51685,2001/10/11
1658,Angela Williams,female,54,Danielland-NM-04630,2006/11/18
166,Richard Chen,male,48,Lawsonhaven-SD-50436,2015/09/11
1660,Bill Green,male,59,Sandrahaven-MD-26563,2005/12/31
1663,Breanna Burnett,female,48,South Kimberly-CA-09537,2003/12/12
1664,Wesley Brown,male,57,East Linda-NC-98685,2005/05/09
1666,Thomas Preston,male,63,Port Connie-MT-04411,2009/01/23
1667,Brenda Armstrong,female,46,Gilmoretown-OH-98824,2000/12/17
1670,Dillon Wright,male,50,Port Melanie-VA-13197,2000/02/18
1671,Vincent Estrada,male,27,South Megan-KY-17366,2012/04/25
1674,Timothy Williams,male,45,Connershire-MO-71711,2002/01/25
1678,Derrick Dominguez,male,37,Smithberg-AL-99633,2013/12/25
1681,Rebecca Patel,female,30,Port Michael-WV-84782,2006/08/16
1689,Alexandra Mendez,female,58,Pamelaville-TX-83955,2021/01/23

In [66]:
!sort -t "," -k 1,1 -o users_sample.csv users_sample.csv

In [67]:
!tail users_sample.csv

983,Harold Walker,male,25,South Stevenfort-FL-38503,2005/01/20
987,Gary Rodriguez,male,52,Melissaport-WV-06805,2013/06/27
988,Marissa Cummings,female,37,Clarkberg-WY-29479,2003/12/27
989,Vincent Hart,male,23,New Stevenfort-MN-15220,2015/03/11
991,Kristina Brewer,female,55,Mcknightmouth-VA-78982,2012/10/31
992,Dorothy Jordan,female,70,West Jessestad-TX-89943,2000/12/30
994,Kristi Perry,female,64,Elizabethmouth-NV-66181,2021/03/18
996,Benjamin Adams,male,44,Port Hannahfort-WV-35030,2020/07/09
997,Matthew Cooke,male,31,New Aaronshire-FL-31342,2015/01/02
998,Ms. Candice Sims DVM,female,24,Marychester-CT-22544,2005/02/18

## Question 2: Python

Perform analysis with Python

### Question 2.1

Load the original `users_v.csv` into a Pandas dataframe [1]

In [69]:
 Data_frame = pd.read_csv("https://storage.googleapis.com/bdt-beam/users_v.csv")

In [70]:
Data_frame.head()

,user_id,name,gender,age,address,date_joined
0,1,Anthony Wolf,male,73,New Rachelburgh-VA-49583,2019/03/13
1,2,James Armstrong,male,56,North Jillianfort-UT-86454,2020/11/06
2,3,Cody Shaw,male,75,North Anne-SC-53799,2004/05/29
3,4,Sierra Hamilton,female,76,New Angelafurt-ME-46190,2005/08/26
4,5,Chase Davis,male,31,South Bethmouth-WI-18562,2018/04/30

### Question 2.2

Display/print the top ten lines of the dataframe [1]

In [71]:
Data_frame.head(10)

,user_id,name,gender,age,address,date_joined
0,1,Anthony Wolf,male,73,New Rachelburgh-VA-49583,2019/03/13
1,2,James Armstrong,male,56,North Jillianfort-UT-86454,2020/11/06
2,3,Cody Shaw,male,75,North Anne-SC-53799,2004/05/29
3,4,Sierra Hamilton,female,76,New Angelafurt-ME-46190,2005/08/26
4,5,Chase Davis,male,31,South Bethmouth-WI-18562,2018/04/30
5,6,Sierra Andrews,female,21,Ryanville-MI-69690,2007/05/25
6,7,Ann Stone,female,41,Smithmouth-SD-17340,2005/01/05
7,8,Karen Santos,female,34,Mariaville-AK-29888,2003/12/12
8,9,Ronald Meyer,male,41,North Cherylhaven-NJ-04197,2015/11/14
9,10,Steven Rivera,male,43,Wayneside-VT-29040,2003/05/15

### Question 2.3

Find the age of the oldest and youngest person in the dataset [1]

Hint: you can use the `print(..., ...)` function to display the two values if you construct it as two arguments

In [72]:
print(min(Data_frame.age), max(Data_frame.age))

18 80

### Question 2.4

Draw descriptive statistics (one-liner) for the `age` column - these statistics should include `count`, `mean`, and `std` [1]

Hint: this command has a parallel in R

In [77]:
Data_frame['age'].describe()

count    2357.000000
mean       49.054731
std        18.206348
min        18.000000
25%        33.000000
50%        49.000000
75%        65.000000
max        80.000000
Name: age, dtype: float64

### Question 2.5

* Using anonymous functions (`lambda`), create a `surname` column from the name column (you may assume that the last word without a space is the surname) [2]
* Display the last 10 lines of your dataframe [1]

In [81]:
Data_frame['surname'] = Data_frame.apply(lambda x: (x['name']), axis=1)

In [82]:
Data_frame.tail(10)

,user_id,name,gender,age,address,date_joined,surname
2347,2348,Victoria Edwards,female,68,Lake Jamesberg-NY-88824,2001-09-03,Victoria Edwards
2348,2349,Chris Ellis,male,46,Port Richardside-NY-77994,2011-03-18,Chris Ellis
2349,2350,Kimberly Smith,female,19,East Anthony-GA-00646,2021-06-20,Kimberly Smith
2350,2351,William Nelson,male,67,Lake Parkerside-MN-06905,2005-12-21,William Nelson
2351,2352,Nancy Clark,female,80,Jamesshire-AK-88437,2001-12-12,Nancy Clark
2352,2353,Brittney Graham,female,40,Brownland-CO-71229,2005-07-10,Brittney Graham
2353,2354,Allison Schmidt,female,43,Port Logan-MD-38588,2008-11-30,Allison Schmidt
2354,2355,Christopher Johnson,male,68,North Justinton-VA-32798,2006-08-01,Christopher Johnson
2355,2356,Mark Brown,male,67,New Kayleefurt-MA-82581,2013-11-16,Mark Brown
2356,2357,Steven Robinson,male,45,Mistytown-HI-31737,2015-03-21,Steven Robinson

### Question 2.6

* Convert `date_joined` to a pandas series of type `datetime`  [1]
* Overwrite the original `date_joined` column with the result [1]

In [80]:
Data_frame['date_joined'] = Data_frame['date_joined'].astype('datetime64[ns]')

## Question 3: Git

Push your notebook to Git. If you don't have any Git tooling installed on your machines, download a preferred tool.

 * Create a repository (named `day1-tutorial`) on Gitlab (check your student email for sign-up/membership request to Gitlab) [1]
 * Push this notebook to that repository [1]

In [86]:
!git init
!git add hello-python-git-assessment.ipynb
!git commit -m "https://gitlab.com/us-ie-big-data-tech-2022/774/17738040/day-1-tutorial.git"

Reinitialized existing Git repository in /content/.git/
fatal: pathspec 'hello-python-git-assessment.ipynb' did not match any files

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'root@2403dc071a6b.(none)')

In [88]:
!git checkout master

error: pathspec 'master' did not match any file(s) known to git.

## The End

Now that it is a datetime, we can how many users signed up/registered.

In [ ]:
import matplotlib

%matplotlib inline 

df.user_id.groupby([df.date_joined.dt.year]).count().plot(kind="bar")

In [ ]:
!